.Carrusel {
	background-color: #f8f6f7;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 50%;
	overflow: hidden;
	margin: 2rem auto;
	border-radius: 1.5rem 0rem 1.5rem 0rem;
}

.Carrusel .ContainerCarrusel img {
	width: 20rem;
	float: left;
	height: auto;
}

.Carrusel .ContainerCarrusel {
	position: relative;
	width: 1000%;
	margin: 0;
	left: 0;
	font-size: 0;
	animation: 10s slidy infinite;
}

@keyframes slidy {
	0% {
		left: 0%;
	}
	10% {
		left: 0%;
	}
	25% {
		left: -50%;
	}
	35% {
		left: -100%;
	}
	45% {
		left: -120%;
	}
	50% {
		left: -120%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.Carrusel {
		width: 50rem;
		margin: 1rem;
	}

	.Carrusel .ContainerCarrusel img {
		width: 20rem;
		height: auto;
	}
}

/** Movil **/
@media screen and (max-width: 767px) {
	.Carrusel {
		width: 100%;
		margin: 2rem;
	}

	.Carrusel .ContainerCarrusel img {
		width: 20rem;
	}
}
