.options-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

label {
	font-size: 1rem;
	font-weight: bold;
	margin: 0rem 1rem;
	color: #77848c;
}

select {
	width: 12rem;
	height: 2rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #f8f6f7;
	font-size: 0.9rem;
	color: #77848c;
	padding: 0.5rem;
	border-radius: 0rem;
	border: #77848c solid 1px;
}

.button-panel {
	display: flex;
	margin: 1rem 0rem;
}

/*
	Device: Tablet
*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.options-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}

	select {
		width: 22rem;
		height: 2rem;
		font-size: 0.9rem;
		padding: 0.5rem;
	}

	label {
		width: 18rem;
		margin: 0.5rem;
	}
}

/*
	Device: Mobile
*/
@media screen and (max-width: 767px) {
	.options-form {
		flex-direction: column;
	}

	label {
		color: #77848c;
	}

	select {
		width: 22rem;
		height: 2rem;
		font-size: 0.9rem;
		margin: 0rem 0rem 1rem 0rem;
	}

	.btn {
		width: 100%;
		margin: 0.5rem 0rem;
	}
}
