.modal-bg {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 99999;
	-moz-transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-transition-delay: 0.2s;
	display: block;
	pointer-events: none;
}
.modal-bg .dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50rem;
	position: relative;
	top: -1000px;
	margin: 10rem auto;
	padding: 2rem;
	border-radius: 0.5rem;
	background: #fff;
}
.modal-bg:target {
	display: block;
	pointer-events: auto;
	background: rgba(4, 10, 30, 0.8);
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.modal-bg:target .dialog {
	top: -20px;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-transition-delay: 0.4s;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
}

.btn-close {
	background: #606061;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	transition: all 0.5s ease-out;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-transition-delay: 0.2s;
}

.title-product {
	color: #3498db;
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem;
}

.btn-close:hover {
	background: #3498db;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/*
	Device: Tablet
*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.modal-bg .dialog {
		position: relative;
		top: -1000px;
		margin: 3rem;
		padding: 2rem;
		width: 80%;
	}
}

/*
	Device: Mobile
*/
@media screen and (max-width: 767px) {
	.modal-bg .dialog {
		position: relative;
		top: -1000px;
		width: 80%;
	}

	.modal-footer .btn {
		margin-right: 0.5rem;
		width: 5rem;
	}
}
