.b-2 {
	border: 2px solid #3498db;
}

.bs-2 {
	box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.btn {
	display: flex;
	align-items: center;
	width: 16rem;
	height: auto;
	background-color: #f8f6f7;
	font-size: 0.9rem;
	font-weight: bold;
	color: #77848c;
	padding: 1rem;
	border-radius: 0rem;
	border: #77848c solid 1px;
	margin: 1rem 0.5rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.btn:last-child {
	background: #3498db;
	color: #f8f6f7;
}

.btn:hover {
	background: #f8f6f7;
	color: #3498db;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.btn {
		width: 18rem;
		margin: 0.5rem;
	}
}

@media screen and (max-width: 767px) {
	.btn {
		width: 100%;
		margin: 0.5rem;
	}
}
